.header {
    background-color: #343a40;
    color: #fff;
    padding: 10px;
    text-align: center;
}
.content {
    padding: 10px;
}


h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  h3 {
    text-align: center;
    margin-bottom: 20px;
  }

  .table-responsive {
    margin: auto;
    width: 80%;
    margin-bottom: 30px;
  }


  .footer {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}