body {
    background-color: #f8f9fa;
  }
  
  .container-fluid {
    max-width: 40%;
    margin: auto;
    display: contents; 
    size: 150px;
    color: #1b1a1a;
  }
  
.carousel-slide{
  max-width: 40%;
  margin: auto;
  display: table-footer-group;
  position: block;
  size: 150px;
position: center;
}

  footer {
    background-color: #343a40;
    color: #fff;
    padding: 10px 0;
    text-align: center;
  }